body {
    margin: 0;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background: #24292e;
    padding: 20px;
    color: white;
}

nav a {
    color: #58a6ff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 40px;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    background: #24292e;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
}

.form-box {
    background: white;
    width: 90%;
    max-width: 350px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 95%;
    padding: 12px;
    background: #24292e;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
