/* Fix logout button position */
.logout-btn {
    background: #ff3b30;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    float: right;
    margin-top: -45px;
    margin-right: 10px;
}
